<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2FwVBs4NL4sRsar22-1DEt-1QXmwOVeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>43085904641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adam.mabrouki.FerteSecret</string>
	<key>PROJECT_ID</key>
	<string>fertesecret</string>
	<key>STORAGE_BUCKET</key>
	<string>fertesecret.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43085904641:ios:e01fdac64baf91af3ab900</string>
</dict>
</plist>